<md-grid-list id="table-7" md-cols="7" md-row-height="4:1" md-gutter="1px">
  <md-grid-tile class="strong" md-colspan="7"><h3>Acompanhamento</h3></md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2">Ciclo</md-grid-tile>
  <md-grid-tile class="gray strong" md-colspan="6" md-rowspan="2">Ações concretas de acompanhamento</md-grid-tile>

  <md-grid-tile class="gray translucid" md-rowspan="5">{{growth_profile.cycle}}</md-grid-tile>
  <md-grid-tile class="translucid" md-colspan="6" md-rowspan="5"><textarea ng-model="growth_profile.concrete_actions"></textarea></md-grid-tile>
</md-grid-list>

