<md-content class="page-container" layout-padding>
  <md-card class="page">
    <div layout-gt-sm="row">
      <md-input-container class="md-block" id="growth-stage" flex-gt-sm>
        <span>Estágio de Crescimento:</span>
        <md-radio-group ng-model="data.group1">
          <md-radio-button value="PIC" class="md-primary">PIC</md-radio-button>
          <md-radio-button value="PC"  class="md-primary">PC</md-radio-button>
        </md-radio-group>
      </md-input-container>
    </div>
  </md-card>
</md-content>
