<div id="cluster-info" class="list colspan-8">
  <div class="col-8 no-border left">
    <h3>Dados do agrupamento</h3>
  </div>

  <div class="col-8 list">
    <div class="col-4 header border-top">Agrupamento</div>
    <div class="col-4 border-top">&nbsp;{{cluster.name}}&nbsp;</div>
    <div class="col-4 header">Estágio de desenvolvimento</div>
    <div class="col-4">&nbsp;{{cluster.growth_stage}}&nbsp;</div>
    <div class="col-4 header">Conselho Regional Bahá'í</div>
    <div class="col-4">&nbsp;{{cluster.counsil_name}}&nbsp;</div>
    <div class="col-4 header">Número de coordenadores do instituto</div>
    <div class="col-1">CIA: <strong class="no-border">{{cluster.cia_count}}</strong></div>
    <div class="col-1">CABC: <strong class="no-border">{{cluster.cabc_count}}</strong></div>
    <div class="col-1">CGPJ: <strong class="no-border">{{cluster.cgpj_count}}</strong></div>
    <div class="col-1">CCE: <strong class="no-border">{{cluster.cce_count}}</strong></div>
    <div class="col-4 header">Tamanho geográfico (aproximado)</div>
    <div class="col-4">&nbsp;{{cluster.geographic_size}}&nbsp;</div>
    <div class="col-4 header">População total da área</div>
    <div class="col-4">&nbsp;{{cluster.population_size}}&nbsp;</div>
    <div class="col-4 header">Número atual de localidades com um ou mais crentes</div>
    <div class="col-4">&nbsp;{{cluster.sites_with_believers_count}}&nbsp;</div>
    <div class="col-4 header">Número atual de Assembleias Espirituais Locais</div>
    <div class="col-4">&nbsp;{{cluster.lsa_count}}&nbsp;</div>
    <div class="col-4 header">Nome dos membros do Corpo Auxiliar no agrupamento</div>
    <div class="col-4">&nbsp;{{cluster.abm_names}}&nbsp;</div>
    <div class="col-8 list cities">
        <div class="col-4 row-3 header">Nomes das cidades no agrupamento</div>
        <div class="col-4 row-3">&nbsp;{{cluster.cities.join(', ')}}&nbsp;</div>
    </div>
  </div>
</div>
