<div id="table-6" class="list colspan-5">
  <div class="col-5 no-border">
    <h3>Tabela 6: Regularidade das atividades básicas</h3>
  </div>

  <div class="col-5 list header">
    <div class="col-1">Ciclo</div>
    <div class="col-1">Reuniões devocionais</div>
    <div class="col-1">Aulas para crianças</div>
    <div class="col-1">Grupos de pré-jovens</div>
    <div class="col-1">Círculos de estudos</div>
  </div>

  <% (0..3).each do |c| %>
    <div class="col-5 list hover">
      <div class="col-1 header">{{growth_profiles[<%= c %>].cycle}}</div>
      <% ['devotional_gathering_frequency', 'children_classes_frequency', 'junior_youth_group_frequency', 'study_circle_frequency'].each do |f| %>
        <div class="col-1">
          <% if c < 3 %>
            &nbsp;{{growth_profiles[<%= c %>].<%= f %>}}&nbsp;
          <% else %>
            <input ng-change="changeFormState()" ng-model="growth_profiles[3].<%= f %>">
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
