<div id="table-1" class="list colspan-11">
  <div class="col-11 no-border left">
    <h3>Tabela 1: Jovens e adultos que completaram cursos do Instituto de Capacitação</h3>
    <button class="help" ng-click="showHelp('Aqueles que completaram o estudo de algum livro, mas que ainda não são registrados como bahá’ís devem também ser incluídos na contagem.')">?</button>
  </div>

  <div class="col-11 list">
    <div class="col-1">&nbsp;</div>
    <div class="col-10 header">Livro</div>
  </div>

  <div class="col-11 list header">
    <div class="col-1">Ciclos</div>
    <div class="col-1">1</div>
    <div class="col-1">2</div>
    <div class="col-1 with-tooltip">
      3: S1
      <md-tooltip md-direction="top">Refere-se ao terceiro livro da sequência principal do curso, "Aulas para Crianças", nível 1.</md-tooltip>
    </div>
    <div class="col-1 with-tooltip">
      3: S2
      <md-tooltip md-direction="top">Referem-se ao curso adicional deste livro para treinar professores de aulas para crianças, nível 2.</md-tooltip>
    </div>
    <div class="col-1 with-tooltip">
      3: S3
      <md-tooltip md-direction="top">Referem-se ao curso adicional deste livro para treinar professores de aulas para crianças, nível 3.</md-tooltip>
    </div>
    <div class="col-1">4</div>
    <div class="col-1">5</div>
    <div class="col-1">6</div>
    <div class="col-1">7</div>
    <div class="col-1 with-tooltip">
      8
      <md-tooltip md-direction="top">A primeira unidade do livro "O Convênio de Bahá'u'lláh".</md-tooltip>
    </div>
  </div>

  <% (0..3).each do |c| %>
    <div class="col-11 list hover">
      <div class="col-1 header">{{growth_profiles[<%= c %>].cycle}}</div>
      <% ['book1', 'book2', 'book3grade1', 'book3grade2', 'book3grade3', 'book4', 'book5', 'book6', 'book7', 'book8'].each do |f| %>
        <div class="col-1">
          <% if c < 3 %>
            &nbsp;{{growth_profiles[<%= c %>].<%= f %>}}&nbsp;
          <% else %>
            <input ng-change="changeFormState()" type="number" ng-model="growth_profiles[3].<%= f %>">
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
