<div id="table-7" class="list colspan-7">
  <div class="col-7 no-border left">
    <h3>Acompanhamento</h3>
  </div>

  <div class="col-7 list header">
    <div class="col-1">Ciclos</div>
    <div class="col-6">Ações concretas de acompanhamento</div>
  </div>

  <div class="col-7 list hover">
    <div class="col-1 header row-5">{{growth_profiles[3].cycle}}</div>
    <div class="col-6 row-5">
      <textarea ng-change="changeFormState()" ng-model="growth_profiles[3].concrete_actions"></textarea>
    </div>
  </div>
</div>
