<div id="table-5" class="list colspan-6">
  <div class="col-6 no-border left">
    <h3>Tabela 5: Desenvolvimento comunitário</h3>
  </div>

  <div class="col-6 list header">
    <div class="col-1">Ciclos</div>
    <div class="col-1">Nº de lares visitados para aprofundamento</div>
    <div class="col-1">Nº de localidades que realizam as Festas de 19 Dias</div>
    <div class="col-1">Nº estimado de crentes que participam das Festas de 19 Dias</div>
    <div class="col-1 with-tooltip">
      Nº de localidades que observam um ou mais Dias Sagrados
      <md-tooltip md-direction="bottom">Se nenhum Dia Sagrado for realizado durante o referido ciclo de atividade, o espaço deverá ser deixado em branco.</md-tooltip>
    </div>
    <div class="col-1 with-tooltip">
      Nº estimado de indivíduos que observaram um ou mais Dias Sagrados
      <md-tooltip md-direction="bottom">Se nenhum Dia Sagrado for realizado durante o referido ciclo de atividade, o espaço deverá ser deixado em branco.</md-tooltip>
    </div>
  </div>

  <% (0..3).each do |c| %>
    <div class="col-6 list hover">
      <div class="col-1 header">{{growth_profiles[<%= c %>].cycle}}</div>
      <% ['homes_visited_for_deepening_count', 'sites_with_19_days_feasts_count', 'participants_of_19_days_feasts_count', 'sites_with_holidays_celebrantions_count', 'participants_of_holidays_count'].each do |f| %>
        <div class="col-1">
          <% if c < 3 %>
            &nbsp;{{growth_profiles[<%= c %>].<%= f %>}}&nbsp;
          <% else %>
            <input ng-change="changeFormState()" type="number" ng-model="growth_profiles[3].<%= f %>">
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
