.topbar {
  .logout {
    width: 250px;
  }
}

.gray {background: #EEE;}

.translucid:before {opacity: 0.3;}
.book1:before {background: #CF006C;}
.book2:before {background: #E63839;}
.book3:before {background: #F8822A;}
.book4:before {background: #EFAA31;}
.book5:before {background: #FEBA29;}
.book6:before {background: #FFE751;}
.book7:before {background: #EFF384;}
.book8:before {background: #F8F8F8;}

.book1, .book2, .book3, .book4, .book5, .book6, .book7, .book8,
.devotional_gathering, .children_classes, .junior_youth_group, .study_circle {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.strong {font-weight: bold;}
