.topbar {
  .logout {
    width: 250px;
  }
}

.gray {background: #EEE;}


.strong {font-weight: bold;}


.list {
  font-size: 0;

  .no-border, .no-border * {border: none !important;}
  .border-top {border-top-width: 1px !important;}

  *:not(.list) {
    line-height: 25px;
    font-size: initial;
    display: inline-block;
    border: 1px solid #DDD;
    border-top-width: 0;
    border-left-width: 0;

    input {
      width: 100%;
      border: 1px solid #DDD;
      padding: 0;
    }

    &, input {
      text-align: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    &.list {font-size: 0;}
  }

  &.hover:hover {background: rgba(0,0,0,0.1);}
  .header {background: rgba(0,0,0,0.2);}
  .small {
    font-size: 12px;
    line-height: 22px;
  }

  @for $i from 1 through 21 {
    &.colspan-#{$i} {
      @for $j from 1 through $i {
        .col-#{$j} {width: calc(100% * #{$j} / #{$i});}
      }
    }
  }

  @for $i from 1 through 12 {
    .row-#{$i} {
      line-height: calc(25px * #{$i});

      textarea {
        height: calc(25px * #{$i});
        width: 100%;
        text-align: left;
        padding: 5px;
      }
    }
  }
}

.help {
  width: 35px;
  height: 35px;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border-radius: 100px;
  background: whitesmoke;
  outline: none;
  font-weight: bold;
  margin-left: 10px;

  &.small {
    width: 15px;
    height: 15px;
  }
}

.with-tooltip {
  text-decoration: underline;
}