#choose-cycle {
  margin-top: 50px;

  .year {
    margin: 6px 8px;
    line-height: 36px;
    font-size: 14px;
    overflow: hidden;
  }
}

@for $i from 1 through 12 {
  #table-#{$i} {
    margin-top: 20px;
  }
}

#pyramid-1, #pyramid-2 {
  .list {
    border: none;

    div:not(.list) {
      border: 1px solid #AAA;

      input {border: none;}
    }
  }
}

#send-form-message {
  transition: all linear 0.2s;
  position: fixed;
  bottom: 31px;
  right: 81px;
  background: rgba(0,0,0,0.9);
  color: white;
  font-size: 14px;
  padding: 8px 19px;
  border-radius: 3px;
}

#send-form {
  transition: all linear 0.2s;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border-radius: 100px;
  background: whitesmoke;
  position: fixed;
  bottom: 22px;
  right: 20px;
  outline: none;

  img {
    display: none;

    &.active {
      display: inline;
    }
  }
}

#table-2 .invalid {
  border: 1px solid #FE7F22;
  outline: none;
}
