#cluster-info {
  md-grid-tile {
    figure {
      * {
        display: inline-block;
        width: 100%;
      }

      strong {
        text-align: center;
      }
    }
  }
}

#send-form-message {
  transition: all linear 0.2s;
  position: fixed;
  bottom: 31px;
  right: 81px;
  background: rgba(0,0,0,0.9);
  color: white;
  font-size: 14px;
  padding: 8px 19px;
  border-radius: 3px;
}

#send-form {
  transition: all linear 0.2s;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border-radius: 100px;
  background: whitesmoke;
  position: fixed;
  bottom: 22px;
  right: 20px;
  outline: none;

  img {
    display: none;

    &.active {
      display: inline;
    }
  }
}
